<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
        <link rel="icon" href="{% static 'images/logo.png' %}" sizes="500x500" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Recipes</title>
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css" rel="stylesheet" />
    </head>
    <body>
        <section class="all">
            <section class="wrapper">
                <header>
                    <div>
                        <h1><a href="recipes"><img src="{% static 'images/logo.png' %}" alt="logo" /></a></h1>
                        <h1 class="name">Food Recipes</h1>
                    </div>
                    <div>
                        {% if fav %}
                            <a href="favs" class="button">Home</a>
                            <a href="{% url 'web:login' %}" class="button">Log Out</a>
                        {% else %}
                            <a href="recipes" class="button">Home</a>
                            <a href="add" class="button">Add Recipes</a>
                            <a href="favs" class="button">Favorites</a>
                            <a href="logout" class="button">Log Out</a>
                        {% endif %}
                    </div>
                </header>
                <section class="list">
                    <div class='top'>
                        <h1>Make the food you like</h1>
                        <div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <span>
                                    <img src="{% static 'images/search.svg' %}" alt="search" />
                                    <input type="search" placeholder="Search Recipe" name="q" />
                                </span>
                                <select name="v" id="">
                                    <option hidden disabled selected>Filter by categories</option>
                                    {% for category in categories %}
                                        <option value="{{category.title}}">{{category.title}}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class='bottom'>
                        {% if recipes %}
                            <ul>
                                {% for recipe in recipes %}
                                    {% if fav %}
                                        {% if recipe.id in fav_id %}
                                            <li>
                                                <a href="recipes_detailed/{{recipe.id}}">
                                                    <img src="{{recipe.image}}" alt="img" />
                                                    <h3>{{recipe.title}}</h3>
                                                    <p>{{recipe.category}}</p>
                                                </a>
                                                <div>
                                                    {% if recipe.id in fav_id %}
                                                        <a href="remove_fav/{{recipe.id}}">
                                                            <h4>Remove from Favorites</h4>
                                                            <img src="{% static 'images/heartr.svg' %}" alt="fav" />
                                                        </a>
                                                    {% else %}
                                                        <a href="add_fav/{{recipe.id}}">
                                                            <h4>Add to Favorites</h4>
                                                            <img src="{% static 'images/heartb.svg' %}" alt="fav" />
                                                        </a>
                                                    {% endif %}  
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <li>
                                            <a href="recipes_detailed/{{recipe.id}}">
                                                {% if recipe.image %}
                                                    <img src="{{recipe.image}}" alt="img" />
                                                {% else %}
                                                    <img src="{% static 'images/recipe.jpg' %}" alt="img" />
                                                {% endif %}
                                                <h3>{{recipe.title}}</h3>
                                                <p>{{recipe.category}}</p>
                                            </a>
                                            <div>
                                                {% if recipe.id in fav_id %}
                                                    <a href="remove_fav/{{recipe.id}}">
                                                        <h4>Remove from Favorites</h4>
                                                        <img src="{% static 'images/heartr.svg' %}" alt="fav" />
                                                    </a>
                                                {% else %}
                                                    <a href="add_fav/{{recipe.id}}">
                                                        <h4>Add to Favorites</h4>
                                                        <img src="{% static 'images/heartb.svg' %}" alt="fav" />
                                                    </a>
                                                {% endif %}  
                                            </div>
                                        </li>
                                    {% endif %}    
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h1>Sorry! Recipe not available now, try another one.</h1>
                        {% endif %}
                    </div>
                </section>
            </section>
        </section>
    </body>
</html>